$primary-color: rgb(88, 88, 88);
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Montserrat", sans-serif;
$primary-align: center;
$contrast-color: rgb(209, 75, 67);
$odd-background-color: rgb(245, 244, 240);
$even-background-color: white;

@mixin box-properties() {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 10%;
  align-self: center;
  justify-self: center;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
  color: $primary-color;
  text-align: $primary-align;
}

header,
h1,
h2 {
  font-family: $secondary-font-family;
  margin: 0;
}

h2 {
  font-size: 20px;
}

section {
  padding: 50px;
  width: 100%;
}

/*-----------------------------------------*/
.header {
  height: 200px;
  background-color: $odd-background-color;
}

.header__top {
  width: 100%;
  height: 20px;
  background-color: $contrast-color;
}

.header__title {
  margin: 50px auto;
}

.header__title-fname {
  font-size: 40px;
  color: $contrast-color;
  letter-spacing: 2px;
}

.header__title-sname {
  font-size: 20px;
  color: $contrast-color;
}

/*-----------------------------------------*/
.about-me {
  background-color: $even-background-color;

  &__container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "header header"
      "text photo";
    grid-gap: 20px;
  }

  h2 {
    grid-area: header;
  }

  &__text {
    grid-area: text;
    text-align: left;
    line-height: 1.5;
    padding-right: 30px;
  }

  &__photo {
    grid-area: photo;
    width: 150px;
    border: solid 2px $contrast-color;
    border-radius: 50%;
  }
}

@media (max-width: 800px) {
  .about-me {
    &__container {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      place-items: center;
      column-gap: 0px;
    }

    h2 {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &__text {
      grid-row: 2/3;
      grid-column: 1/2;
      text-align: center;
      padding-right: 0;
    }

    &__photo {
      grid-row: 4/4;
      grid-column: 1/2;
    }
  }
}

/*------Cvičení-----------------

.practice {
  background-color: $odd-background-color;

  &__container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(90px, 150px));
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    place-content: center;

    h2 {
      grid-column: 1/5;
      grid-row: 1/2;
    }
  }

  &__text-in-box {
    height: 1rem;
    margin-top: calc((100% - 1rem) / 2);
  }

  &__box--green {
    background-color: rgb(127, 210, 186);
    @include box-properties();
  }

  &__box--yellow {
    background-color: rgb(255, 218, 117);
    @include box-properties();
  }

  &__box--blue {
    background-color: rgb(166, 223, 247);
    @include box-properties();
  }

  &__box--pink {
    background-color: rgb(212, 161, 182);
    @include box-properties();
  }
}

@media (max-width: 600px) {
  .practice {
    &__container {
      grid-template-columns: auto auto;
      grid-auto-rows: auto;
      grid-gap: 10px;

      h2 {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }
  }
}
--------------------------------*/
.my-work {
  background-color: $odd-background-color;
  &__container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 50px;
    grid-column-gap: 40px;
    align-items: start;
    place-content: center;
  }
  h2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    height: 111px;
  }
  &__icon-wrapper {
    max-width: 100px;
    min-width: 70px;
    &--lang {
      padding-top: 4px;
    }
    &--html {
      padding-top: 3px;
    }
  }
  &__title {
    font-weight: bold;
    &--lang {
      padding-top: 7px;
    }
    &--html {
      padding-top: 9px;
    }
    &--react {
      padding-top: 3px;
    }
  }
}

@media (max-width: 600px) {
  .my-work {
    &__container {
      width: 70%;
      grid-template-columns: repeat(2, minmax(100px, 50%));
      grid-auto-rows: auto;
      grid-gap: 30px;

      h2 {
        grid-column: 1/3;
        grid-row: 1/2;
      }
    }
  }
}

/*-------------------------------------*/
.my-projects {
  background-color: $even-background-color;

  &__container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 50%);
    grid-gap: 20px;
    place-content: center;
  }
  h2 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  &__project--web {
    place-items: start;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  &__project--react {
    place-items: start;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      font-weight: bold;
     
      color: $contrast-color;
      #link-icon {        
          path {
            fill: $contrast-color;
          }        
      }
    }
  }
 
  &__link--icon {
    vertical-align: middle;
  }
}

@media (max-width: 900px) {
  .my-projects {
    &__container {
      grid-template-columns: auto;
      grid-auto-rows: auto;
    }
    h2 {
      grid-row: 1/2;
      grid-column: 1/2;
    }
    &__project--web {
      grid-row: 2/3;
      grid-column: 1/2;
      place-items: center;
    }
    &__project--react {
      grid-row: 3/4;
      grid-column: 1/2;
      place-items: center;
    }
  }
}

/*-------------------------------------------*/
.contact {
  background-color: $odd-background-color;
}

/*---------------------------------------------*/
.footer--background-red {
  background-color: $contrast-color;
  color: $even-background-color;
  padding: 20px;
}

/*--------------Animace SVG ikon----------------*/

/*Ikona překladatel*/
#lang-skill-icon {
  width: 70px;
  padding-top: 6px;
  transition: animation 1.5s;
  &:hover {
    #earth {
      animation: rotateY 2s ease;
    }
  }
  &:hover {
    #border {
      animation: resize 1.2s ease;
    }
  }
}
#earth,
#border {
  transform-origin: center;
}

@keyframes rotateY {
  to {
    transform: rotateY(180deg);
  }
}

@keyframes resize {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/*Ikona HTML*/
#html-icon {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  transition: fill 0.4s ease-in-out;
  &:hover {
    fill: #e54d26;
  }
  &:hover {
    #inner-letter {
      animation: resize-letter 1.2s ease;
    }
  }
}
#inner-letter {
  transform-origin: 50% 57%;
}
@keyframes resize-letter {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/*Ikona JS*/
#JS-icon {
  min-width: 88px;
}

#J-letter,
#S-letter {
  transform-origin: 50% 57%;
}
#JS-icon {
  &:hover {
    #J-letter {
      animation: resize-letter 1.2s ease;
    }
    #S-letter {
      animation: resize-letter 1.2s ease;
    }
  }
}

/*Ikona React*/
#react-icon {
  width: 75px;
  padding-top: 8px;
  &:hover {
    .st0 {
      animation: rotateZ 5s ease;
    }
    #circle {
      animation: resize-letter 5s ease;
    }
  }
}
.st0,
#circle {
  transform-origin: center;
}
@keyframes rotateZ {
  to {
    transform: rotateZ(360deg);
  }
}
